/* .brand {
    color: #FF9138;
}

.border-hover {
    border-top: 5px solid transparent;
    transform: translateY(-4px);
}

.border-hover:hover {
    border-top: 5px solid #ff9138;
    transform: translateY(-4px);
}

#sign-in {
    background: #FF9138;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

.navbar-toggler {
    border: 3px solid #FF9138;
}


.navbar-toggler-icon {
    background-image: url(/static_files/svgs3/list.svg)
}

.navbar-toggler:focus {
    box-shadow: none;
}

#nav-length {
    width: 100%;
}

@media screen and (max-width : 992px) {
    #nav-length {
        width: 100%;
    }

    .border-hover {
        border-top: 0;
    }

    .border-hover:hover {
        border-top: 0;
    }

    #sign-in {
        border-radius: 50px;
    }
} */

/* navbar.component.css */
.offcanvas.show {
    visibility: visible;
    transform: translateX(0%);
  }
  
  .offcanvas {
    visibility: hidden;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out, visibility 0.3s ease-in-out;
  }
  
  .offcanvas .offcanvas-header .btn-close {
    margin-right: auto;
  }
  